body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  color: #10375e;
}

ol,
ul {
  list-style: none;
}

a {
  color: #10375e;
}

span {
  font-weight: bold;
}

button {
  display: block;
  background: transparent;
  border: none;
}

h1 {
  font-weight: 500;
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 24px;
}

h2 {
  font-weight: 500;
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 24px;
}

h3 {
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 52px;
}

img {
  max-width: 100%;
}

header {
  padding-top: 32px;
  margin-bottom: 216px;
}

.header_active {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 50px;
  text-align: center;
  z-index: 10;
  padding: 10px 0;
}

.header__list {
  padding-left: 0;
}

.header__link {
  margin: 0 32px;
  font-size: 16px;
  line-height: 20px;
}

.header__burger {
  width: 40px;
  height: 28px;
  position: relative;
  display: none;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #05647a;
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

.btn {
  width: 285px;
  height: 52px;
  background: #fea02f;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 32px;
  transition: all 0.3s;
}

.block-one {
  position: relative;
  background: url(../img/groupLeft1.png) no-repeat left 127px,
    url(../img/groupRight1.png) no-repeat right 127px;
}

.block-two {
  padding: 164px 0;
  background: url(../img/spotsLeft.png) no-repeat left 130px,
    url(../img/infograph.png) no-repeat right 90px;
}

.block-3 {
  position: relative;
  background: url(../img/groupLeft2.png) no-repeat left 264px,
    url(../img/circlesRight1.png) no-repeat 1200px 690px;
}

.intro {
  padding-bottom: 220px;
}

.about {
  padding: 164px 0;
  position: relative;
}

.about::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(224, 226, 213, 0.49);
  z-index: -1;
}

.about__text {
  padding-left: 100px;
}

.life {
  padding-top: 164px;
  padding-bottom: 150px;
  position: relative;
  background: url(../img/circlesRight2.png) no-repeat right 476px;
}

.life::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(224, 226, 213, 0.49);
  z-index: -1;
}

.life__list {
  padding-left: 0;
}

.life__item {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.life__item:nth-child(odd) .life__img {
  margin-right: 24px;
}

.life__item:nth-child(even) .life__img {
  margin-left: 24px;
}

.life__img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  flex-shrink: 0;
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.25));
}

.life__img:hover {
  cursor: pointer;
  transform: scale(1.07);
  transition: all 0.2s;
}

.orderproject {
  position: relative;
  color: #fff;
  padding: 164px 0;
}

.orderproject::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #05647a;
  z-index: -1;
}

.works-title {
  margin: 0;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 35%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #6db8bb;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:focus {
  outline: none;
}

.owl-carousel .owl-item img:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.2s;
}

.item__text {
  padding: 0 64px;
  font-size: 16px;
  line-height: 20px;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 20%;
  left: 43%;
}

.owl-theme .owl-dot:focus {
  outline: none;
}

footer {
  padding-top: 44px;
  padding-bottom: 32px;
}

.footer__title {
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 20px;
  text-align: center;
}

.footer__logo {
  display: block;
  margin-bottom: 44px;
  text-align: center;
}

.footer__logo:hover {
  transform: scale(1.08);
  cursor: pointer;
  transition: all 0.2s;
}

.footer__menu {
  padding-left: 0;
  margin-bottom: 24px;
}

.footer__link {
  margin: 0 32px;
  font-size: 16px;
  line-height: 20px;
}

.copyright {
  font-size: 16px;
  color: rgba(16, 55, 94, 0.43);
  line-height: 20px;
  text-align: center;
}

/* MEDIA REQUESTS */
@media (max-width: 1460px) {
  .block-one {
    background: url(../img/groupLeft1.png) no-repeat left 127px,
      url(../img/groupRight1.png) no-repeat right 127px / 550px;
  }
}

@media (max-width: 1199px) {
  .btn {
    margin-bottom: 30px;
  }

  .works-title {
    text-align: center;
  }

  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 45%;
  }

  .owl-theme .owl-dots {
    bottom: 10%;
    left: 47%;
  }
}

@media screen and (max-width: 991px) {
  .burger {
    display: block;
    width: 40px;
    height: 26px;
    position: relative;
    margin-left: auto;
    cursor: pointer;
  }

  .burger:hover {
    opacity: 0.75;
  }

  .header__nav {
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #74c8cc;
    z-index: 5;
    padding: 30px;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }

  .header__nav_active {
    transform: translateX(0);
  }

  .header__list {
    padding-top: 30px;
    flex-wrap: wrap;
  }

  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    padding-left: 0;
  }

  .header__item:last-child {
    margin-bottom: 0;
  }

  .header__link {
    font-size: 25px;
    line-height: 15px;
    margin: 0;
  }

  .header__link:hover {
    color: #10375e;
  }

  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header__nav-close:hover {
    opacity: 0.75;
    cursor: pointer;
  }

  .header__nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #05647a;
    position: absolute;
    top: 50%;
  }

  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  .block-one {
    background: url(../img/groupLeft1.png) no-repeat left 127px;
  }

  .about__text {
    padding-left: 0;
    margin-bottom: 60px;
  }

  .block-two {
    background: url(../img/spotsLeft.png) no-repeat left 130px;
  }

  .owl-theme .owl-dots {
    bottom: 15%;
    left: 45%;
  }

  footer {
    padding-top: 60px;
  }

  .footer__logo {
    margin-bottom: 25px;
  }

  .footer__menu {
    flex-wrap: wrap;
    text-align: center;
  }

  .footer__menu li {
    width: 100%;
  }

  .footer__link {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  header {
    margin-bottom: 60px;
  }

  .intro,
  .about,
  .block-two,
  .life,
  .orderproject {
    padding: 60px 0;
  }

  .block-two {
    background: none;
  }

  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 38%;
  }

  .owl-theme .owl-dots {
    bottom: 25%;
    left: 45%;
  }
}

@media screen and (max-width: 479px) {
  .container {
    padding: 0 15px;
  }

  h1 {
    font-size: 30px;
    line-height: 36px;
  }

  h2 {
    font-size: 28px;
    line-height: 32px;
  }

  h3 {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  .block-one,
  .block-3,
  .life {
    background: none;
  }

  header {
    margin-bottom: 60px;
  }

  .intro {
    padding-bottom: 60px;
  }

  .about,
  .block-two,
  .life {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .life__item {
    width: 100%;
  }

  .life__img {
    width: 120px;
    height: 120px;
    filter: none;
  }

  .life__text {
    font-size: 16px;
    line-height: 16px;
  }

  .orderproject {
    padding: 60px 0;
  }

  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next {
    display: none;
  }

  .item__text {
    padding: 0 15px;
  }

  .owl-theme .owl-dots {
    bottom: 25%;
    left: 45%;
  }
}

@media screen and (max-width: 415px) {
  .owl-theme .owl-dots {
    bottom: 30%;
    left: 40%;
  }
}

@media screen and (max-width: 383px) {
  .owl-theme .owl-dots {
    bottom: 36%;
    left: 40%;
  }
}
